# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* Create simple arithmetric expression
* Convert minutes into hours

Some of the popular languages that Data Scientists use are:
1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. SciPy
5. Keras

| Data Science Tools |
|--------------------|
| JupyterLab         |
| Jupyter Notebook   |
| R Studio           |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [5]:
# This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60
print(hours)

3.3333333333333335

## Author
Damilola Olatoye